<div class="center jumbotron">
  <h1>Welcome to Mock Twitter App</h1>

  <h2>
    This is the home page for the Mock Twitter App
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org' %>
<%#= link_to image_tag("kitten.jpg", alt: "Obligatory cat photo"), 'https://cdn.learnenough.com' %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A Song of Ice and Fire</h1>
    <h2>POV Characters List</h2>
  </div>
</div>

<hr>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Bran Stark</li>
                <li class="list-group-item">Eddard Stark</li>
                <li class="list-group-item">Catelyn Stark</li>
                <li class="list-group-item">Arya Stark</li>
                <li class="list-group-item">Sansa Stark</li>
                <li class="list-group-item">Jon Snow</li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Daenerys Targaryen</li>
                <li class="list-group-item">Tyrion Lannister</li>
                <li class="list-group-item">Jaime Lannister</li>
                <li class="list-group-item">Theon Greyjoy</li>
                <li class="list-group-item">Davos Seaworth</li>
                <li class="list-group-item">Samwell Tarly</li>
            </ul>
        </div>

    </div>
</div>

<hr>

<%= link_to image_tag("WorldofIceandFire.png", alt: "Map of the known world of ASOIAF"), 'https://awoiaf.westeros.org/images/1/10/' %>

<hr>
