<h1>Mock Twitter</h1>

<p>HI <%= @user.name %>,</p>

<p>
Welcome to Mock Twitter! Click on the link below to activate your account:
</P>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
